<div class="row mt-2">
    <div class="col-md-8 col-6">
        <h4 class="text-danger">Questões</h4>
    </div>
    <div class="col-md-2 col-6 text-right">
        <button class="btn btn-avaliation btn-add"><i class="mdi mdi-plus-circle"></i></button>
        <button class="btn btn-primary btn-search"><i class="mdi mdi-search-web"></i></button>
    </div>
    <!-- <div class="col-md-2 col-3">
    </div> -->
</div>
<div class="row mt-2 hide" id="form-search" data-status="0">
    <div class="col-12">
        <form>
            <div class="form-group">
                <input type="text" id="search" name="descriptionItem" class="form-control" placeholder="Digite o nome...">
            </div>
        </form>
    </div>
</div>
<div class="row mt-3 mb-3 border-bottom border-top hide" id="new">
    <div class="offset-md-3 col-md-6 col-12 mt-2 mb-2">
        <form id="add-question">
            <div class="form-group">
                <label><strong>Categoria</strong></label>
                <select name="work_category_idCategory" id="work_category_idCategory" class="form-control">
                    <option value="">Selecione a categoria da questão</option>
                    <div id="category"></div>
                    <option value="new"><strong>Adicionar nova categoria</strong></option>
                </select>
                <input type="text" name="nameCategory" id="nameCategory" class="form-control hide">
            </div>
            <div class="form-group">
                <label><strong>Sub-Categoria</strong></label>
                <select name="work_subgroup_idSubgroup" id="work_subgroup_idSubgroup" class="form-control">
                        <option value="">Selecione a sub-categoria da questão</option>
                        <div id="subgroup"></div>
                        <option value="new"><strong>Adicionar nova categoria</strong></option>
                    </select>
                <input type="text" name="nameSubgroup" id="nameSubgroup" class="form-control hide">
            </div>
            <div class="form-group">
                <label><strong>Questão</strong></label>
                <textarea name="descriptionItem_avaliation" cols="30" rows="3" class="form-control"></textarea>
            </div>
            <button class="btn btn-avaliation btn-block btn-lg btn-save"><i class="mdi mdi-content-save-settings"></i> Salvar</button>
        </form>
    </div>
</div>
<div id="list-question" class="row mt-3">

</div>
<!-- Paginação -->
<div class="card-footer mt-2">
    <div>
        <ul class="pagination justify-content-center pager" id="myPagination" paginaatual="1"></ul>
    </div>
</div>

<script src="question/controller/question.js"></script>
<script src="question/controller/search-question.js"></script>