<div class="row mt-2">
    <div class="col-12">
        <h4 class="text-danger text-center">Inclusão de Alunos ao Projeto <span id="name"></span></h4>
    </div>
    <!-- <div class="col-md-2 col-6 text-right">
        <button class="btn btn-avaliation btn-add"><i class="mdi mdi-plus-circle"></i></button>
        <button class="btn btn-primary btn-search"><i class="mdi mdi-search-web"></i></button>
    </div> -->
</div>
<div class="row mt-2">
    <div class="col-12">
        <form id="include-student">
            <div class="form-group">
                <label><strong>Alunos</strong></label>
                <select name="work_student_idStudent" id="student" class="form-control">
                    <option value="">Selecione o aluno...</option>
                </select>
            </div>
            <input type="hidden" name="work_project_idProject" id="project" value="">
            <button class="btn btn-avaliation btn-block btn-lg btn-save"><i class="mdi mdi-content-save-settings"></i> Salvar</button>
        </form>
    </div>
</div>
<div class="row mt-3 mb-3 border-bottom border-top" id="response">

</div>
<div class="row mt-3 mb-3 border-bottom border-top" id="list">

</div>
<div id="list-project" class="row mt-3">

</div>

<script src="project/controller/project-student.js"></script>