<form id="form-tuition">
    <div class="form-group">
        <label>Aluno</label>
        <input type="text" name="nameStudents" id="nameStudents" readonly class="form-control">
    </div>
    <div class="form-group row">
        <div class="col-6">
            <label>Data de Vencimento</label>
            <input type="text" name="dueDate" id="dueDate" readonly class="form-control">
        </div>
        <div class="col-6">
            <label>Valor da mensalidade</label>
            <input type="number" name="grossValue" id="grossValue" readonly class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            <label>Valor do desconto</label>
            <input type="number" name="discount" id="discount" class="form-control">
        </div>
        <div class="col-6">
            <label>Valor a receber</label>
            <input type="number" name="amountPaid" id="amountPaid" readonly class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label>Forma de pagamento</label>
        <select name="AGUAVIVA_PAYMENT_METHODS_idPayment" id="AGUAVIVA_PAYMENT_METHODS_idPayment" class="form-control">
            <option>Selecione ...</option>
        </select>
    </div>
    <input type="hidden" name="idTuition" id="idTuition">
    <input type="hidden" name="idStudents" id="idStudents">
</form>

<script src="src/tuition/controller/discount-calculation.js"></script>