<div class="row border-bottom mt-3">
    <div class="col-3">
        <img src="img/e-avaliation.png" alt="e-avaliation" class="img-fluid mt-1">
    </div>
    <div class="col-9">
        <h4 class="text-danger">Painel gerencial do administrador de sistema</h4>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-3 col-12 mt-2">
        <button class="btn btn-avaliation btn-block text-center btn-school">
            <h1><i class="mdi mdi-school"></i></h1>
            <p>Unidades Escolares</p>
        </button>
    </div>
    <div class="col-md-3 col-12 mt-2">
        <button class="btn btn-avaliation btn-block text-center btn-teacher">
            <h1><i class="mdi mdi-teach"></i></h1>
            <p>Professores</p>
        </button>
    </div>
    <div class="col-md-3 col-12 mt-2">
        <button class="btn btn-avaliation btn-block text-center">
            <h1><i class="mdi mdi-logout"></i></h1>
            <p>Sair do Sistema</p>
        </button>
    </div>
</div>

<script src="js/menu-system.js"></script>