<!DOCTYPE html>

<html lang="pt-br">



<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../../css/bootstrap.css">

    <link rel="stylesheet" href="../../../css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>Panel Test's</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light bordanav">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mymenu"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Alterar Navegação">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse flex-row-reverse mr-md-2" id="mymenu">

            <ul class="navbar-nav">

                <li class="nav-item dropdown px-md-3 mt-md-2">

                    <a class="nav-link dropdown-toggle h5 text-danger" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        Pages</a>


                    <div class=" dropdown-menu bg-light" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item h6 text-danger font-weight-bold panelArchives"><i
                                class="fas fa-graduation-cap"></i> - Archives</a>

                        <a class="dropdown-item h6 text-danger font-weight-bold painelNoticias"><i
                                class="fas fa-newspaper"></i> - Messages</a>

                        <a class="dropdown-item h6 text-danger font-weight-bold painelDepoimentos"><i
                                class="fas fa-comments"></i> - Users</a>
                    </div>

                </li>

                <li class="nav-item dropdown px-md-3 mt-md-2">

                    <a class="nav-link dropdown-toggle h5 text-danger" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        User</a>

                    <div class=" dropdown-menu bg-light" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item h6 text-danger font-weight-bold painelUsuarios"><i
                                class="fas fa-user-friends"></i> - Users</a>
                    </div>

                </li>

                <li class="nav-item px-md-3 mt-md-2"><a class="nav-link h5 text-danger btn-logoff"><i
                            class="fas fa-sign-out-alt pr-1 btn-logoff"></i>Logoff</a>
                </li>

            </ul>

        </div>

    </nav>

    <!-- Painel -->

    <div class="container py-3">

        <!-- Painel -->

        <div id="painel" class="py-3">

            <h3 style="font-size: 40px;margin-bottom: -10px;">Administrative panel</h3>

            <hr>

            <div class="row mt-md-3">

                <div class="col-12 col-md-6">

                    <button class="btn btn-danger btn-block text-center panelArchives">

                        <i class="fas fa-glass-cheers pt-4 pb-1" style="font-size: 65px;"></i>
        
                        <p style="font-size:30px;">Archives</p>
        
                    </button>
                </div>


                <div class="col-12 col-md-6">

                    <button class="btn btn-danger btn-block text-center panelMessages">

                        <i class="fas fa-comments pt-4 pb-1" style="font-size: 65px;"></i>

                        <p style="font-size:30px;">Messages</p>

                    </button>

                </div>
            
            </div>

                <div class="row mt-md-3">

                    <div class="d-md-none d-lg-none m-1"></div>

                <div class="col-12 col-md-6">

                    <button class="btn btn-danger btn-block text-center panelUsers">

                        <i class="fas fas fa-cogs pt-4 pb-1" style="font-size: 65px;"></i>

                        <p style="font-size:30px;">Users</p>

                    </button>
                    
                </div>
            
            </div>
                

            

        </div>

    </div>

</body>



<script src="../../../js/jquery-3.3.1.min.js"></script>

<script src="../../../js/bootstrap.min.js"></script>

<script src="../../../js/functions_test.js"></script>

</html>