<div id="detail-proof"></div>

<!-- Modal -->
<div class="modal fade modal-etechday" id="loading" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="text-center text-danger">
                    <span class="mdi mdi-loading mdi-spin">  Aguarde enviando o arquivo...</span>
                </h4>
            </div>
        </div>
    </div>
</div>

<script src="proof/controller/detail-proof.js"></script>