<form id="form-pay">
    <div class="form-group">
        <label>Forncedor</label>
        <select name="AGUAVIVA_PROVIDER_idProvider" id="AGUAVIVA_PROVIDER_idProvider" class="form-control">
            <option value="">Selecione ...</option>
        </select>
    </div>
    <div class="form-group row">
        <div class="col-12 col-md-6">
            <label>Data de Vencimento</label>
            <input type="date" name="datePay" id="datePay" class="form-control">
        </div>
        <div class="col-12 col-md-6">
            <label>Valor</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">R$</div>
                </div>
                <input type="text" name="valuePay" id="valuePay" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-md-6">
            <label>Desconto</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">R$</div>
                </div>
                <input type="text" name="discountPay" id="discountPay" class="form-control">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <label>Juros</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">R$</div>
                </div>
                <input type="text" name="additionPay" id="additionPay" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Valor pago</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">R$</div>
            </div>
            <input type="text" name="amountPaid" id="amountPaid" class="form-control">
        </div>
    </div>
    <input type="hidden" name="idPay" id="idPay">
</form>

<script src="src/pay/controller/discount-calculation.js"></script>
<script src="libs/jQuery-Mask-Plugin-master/dist/jquery.mask.js"></script>

<script>
    $('#valuePay').mask('99,99')
    $('#discountPay').mask('99,99')
    $('#additionPay').mask('99,99')
    $('#amoundPaid').mask('99,99')
</script>