<div class="row mt-5">
    <div class="col-12 offset-md-4 col-md-4">
        <h4 class="text-center text-danger">Envio de arquivos</h4>
        <form id="upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Image">Selecione a imagem</label>
                <input type="file" name="archive" class="form-control-file">
            </div>
            <button class="btn btn-outline-danger btn-block" type="submit">Enviar</button>
        </form>
    </div>
</div>

<script src="upload/controller/sendUpload.js"></script>