<div id="menu" class="row bg-danger negative-top-1em">
    <div class="col-md-2 col-6">
        <button id="" class="btn btn-outline-light btn-block mt-3 mb-3 edit-perfil">
            <i class="mdi mdi-update mdi-36px"></i>
            <p>Atualizar Cadastro</p>
        </button>
    </div>
    <div class="col-md-2 col-6">
        <button class="btn btn-outline-light btn-block mt-3 mb-3 view-proof">
            <i class="mdi mdi-check-circle mdi-36px"></i>
            <p>Provas</p>
        </button>
    </div>
    <div class="col-md-2 col-6">
        <button id="timeline" class="btn btn-outline-light btn-block mt-3 mb-3">
            <i class="mdi mdi-camera mdi-36px"></i>
            <p>Upload Foto Timeline</p>
        </button>
    </div>
    <div class="col-md-2 col-6">
        <button id="logout" class="btn btn-outline-light btn-block mt-3 mb-3">
            <i class="mdi mdi-logout mdi-36px"></i>
            <p>Sair do Sistema</p>
        </button>
    </div>
</div>
<div class="row mt-3">
    <div id="participant" class="offset-md-2 col-md-8 col-12 text-center">

    </div>
</div>


<script src="participants/controller/area-participant.js"></script>