<div class="row mt-2">
    <div class="col-md-8 col-6">
        <h4 class="text-danger">Projetos</h4>
    </div>
    <div class="col-md-2 col-6 text-right">
        <button class="btn btn-avaliation btn-add"><i class="mdi mdi-plus-circle"></i></button>
        <button class="btn btn-primary btn-search"><i class="mdi mdi-search-web"></i></button>
    </div>
    <!-- <div class="col-md-2 col-3">
    </div> -->
</div>
<div class="row mt-2 hide" id="form-search" data-status="0">
    <div class="col-12">
        <form>
            <div class="form-group">
                <input type="text" id="search" name="nameProject" class="form-control" placeholder="Digite o nome...">
            </div>
        </form>
    </div>
</div>
<div class="row mt-3 mb-3 border-bottom border-top hide" id="new">
    <div class="offset-md-3 col-md-6 col-12 mt-2 mb-2">
        <form id="add-course">
            <div class="form-group">
                <label><strong>Nome do Projeto</strong></label>
                <input type="text" name="nameProject" class="form-control input-lg">
            </div>
            <div class="form-group">
                <label><strong>Resumo</strong></label>
                <textarea name="resumeProject" class="form-control" cols="30" rows="3"></textarea>
            </div>
            <button class="btn btn-avaliation btn-block btn-lg btn-save"><i class="mdi mdi-content-save-settings"></i> Salvar</button>
        </form>
    </div>
</div>
<div id="list-project" class="row mt-3">

</div>
<!-- Paginação -->
<div class="card-footer mt-2">
    <div>
        <ul class="pagination justify-content-center pager" id="myPagination" paginaatual="1"></ul>
    </div>
</div>

<script src="project/controller/project.js"></script>
<script src="project/controller/search-project.js"></script>