<div class="row mt-3">
    <div class="offset-md-4 col-md-4 col-12">
        <h2 class="text-dark center">Montagem de Equipes</h2>
        <form id="create-team">
            <div class="form-group">
                <label>Nome da equipe</label>
                <input type="text" name="nome" maxlength="100" class="form-control">
            </div>
            <div class="form-group">
                <label>Desenvolvedor Front-end</label>
                <select name="TECHDAY_PARTICIPANT_id[]" id="front-end" class="form-control">
                    <option>Selecione...</option>
                </select>
            </div>
            <div class="form-group">
                <label>Desenvolvedor Back-end</label>
                <select name="TECHDAY_PARTICIPANT_id[]" id="back-end" class="form-control">
                    <option>Selecione...</option>
                </select>
            </div>
            <div class="form-group">
                <label>Desenvolvedor Arduino</label>
                <select name="TECHDAY_PARTICIPANT_id[]" id="arduino" class="form-control">
                    <option>Selecione...</option>
                </select>
            </div>
            <div class="form-group">
                <label>Criativo / Comunicativo</label>
                <select name="TECHDAY_PARTICIPANT_id[]" id="criativo" class="form-control">
                    <option>Selecione...</option>
                </select>
            </div>
            <button class="btn btn-outline-dark btn-block add-team"><i class="mdi mdi-content-save"></i> Salvar</button>
        </form>
    </div>
</div>

<script src="system/controller/select-participant.js"></script>
<script src="system/controller/create-team.js"></script>