<div class="row mt-3">
    <div class="col-12 text-center border-bottom">
        <h4>Relação de inscrições já validadas</h4>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <table class="table table-striped table-inverse table-responsive table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th class="text-center">Módulo</th>
                    <th>Perfil</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="modal-participant" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Título do modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Texto do corpo do modal, é aqui.</p>
            </div>
        </div>
    </div>
</div>

<script src="system/controller/subscript-list.js"></script>